<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is SmartSole?
      </h3>
      <p>
        Not Your Average Soles. Comfort for your Feet & Seamless Tracking of your Physical Activity.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Why Do I Need It?
      </h3>
      <p>
        In the age of "Internet of Things", control every aspect of your life by making the best use of Tracking Solutions.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        How Do I Use It?
      </h3>
      <p>
        Slip it inside your Shoe. Simple, Comfortable, Uninterrupted.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Where Can I Use It?
      </h3>
      <p>
        As long as you have a Shoe, use it Anywhere.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy">
      <h3>
        When Can I Use It?
      </h3>
      <p>
        Workout, Commuting, Traveling.
      <p>
    </div>
  </div>
</div>