<div class="sidebar">
  <h5>When will I receive SmartSole?</h5>
  <p>
    We will start dispatching in 6 months.
  </p>
  <h5>What is the warranty?</h5>
  <p>
    We provide 1 year warranty.
  </p>
</div>