<div class="big_wrapper">
	<div class="wrapper">
		<div class="point_copy">
			<h3>BitPay Invoice</h3>
			<p>
				Your Invoice for SmartSole:
			</p>
			<iframe src="https://bitpay.com/invoice?id=DGrAEmbsXe9bavBPMJ8kuk" frameborder="0"></iframe>
		</div>
	</div>
</div>