<div class="big_wrapper">
	<div class="wrapper">
		
			<h3>BitPay Invoice</h3>
			<p>
				Your Invoice for SmartSole:
			</p>
			<iframe src= <%= @invoice_url %>frameborder="20" style></iframe>
		
	</div>
</div>



